NEXT PERMUTATION
class Solution 

{ 
    void nextPermutation(int perm[], int N)
	{    
	    
	    // code here
	    if(perm == null || N<=1)
	    return;
	    int k = N-2;
	    while(k>=0 && perm[k]>=perm[k+1])
	        k--;
	    if(k>=0){
	        int l = N-1;
	        while(perm[l]<=perm[k])
	            l--;
	       swap(perm,k,l);
	    }
	    reverse(perm,k+1,N-1);
        
	}
	public void swap(int perm[],int k,int l){
	    int temp=perm[k];
	    perm[k]=perm[l];
	    perm[l]=temp;
	}
	public void reverse(int perm[],int k,int l){
	    while(k<l) swap(perm,k++,l--);
	}
}

